.header {
  padding: var(--gutter-sm) var(--gutter-md);
  border-bottom: var(--border-size-sm) solid var(--border-brand);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.body {
  max-width: 1200px;
  margin: 0 auto;
  padding: var(--gutter-md);
}

.footer {
  padding: var(--gutter-lg) var(--gutter-md);
  color: var(--text-secondary);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
